<div class="options">
  <div class="option learn">
    <%= link_to "Learn", learn_page_path, class: "btn btn-outline-primary" %>
  </div>
  <div class="option quiz">
    <%= link_to "Quiz", quiz_page_path, class: "btn btn-outline-success" %>
  </div>
  <div class="option exam">
    <%= link_to "Exam", exam_page_path, class: "btn btn-outline-danger" %>
  </div>
</div>
