<div class="options">
  <div class="option">
    <%= link_to "Learn", learn_page_path, class: "btn btn-primary" %>
  </div>
  <div class="option">
    <%= link_to "Quiz", quiz_page_path, class: "btn btn-primary" %>
  </div>
  <div class="option">
    <%= link_to "Exam", exam_page_path, class: "btn btn-primary" %>
  </div>
</div>
